body{
    text-align: center;
    background-color: rgb(232, 214, 246);
    align-items: center;
    display: flex;
    justify-content: center;
}

.teste{
    width: 200px;
    height: 300px;
    padding: 40px;
    border: 20px  solid rgb(162, 0, 255);
    margin: auto;
    
}
.entrar:hover{
    background-color: rgb(84, 175, 228);
}